@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AdminRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SonOfCod.ViewModels
@model RegisterViewModel

<h2>Register</h2>
<img id="pic" src="~/images/hookborder.png" alt="Alternate Text" />@using (Html.BeginForm("AdminRegister", "Marketing", FormMethod.Post))
{
    @Html.LabelFor(m => m.Email)
    <br />
    @Html.TextBoxFor(m => m.Email)
    <br />
    <br />

    @Html.LabelFor(m => m.Password)
    <br />
    @Html.PasswordFor(m => m.Password)
    <br />
    <br />

    @Html.LabelFor(m => m.ConfirmPassword)
    <br />
    @Html.PasswordFor(m => m.ConfirmPassword)
    <br />
    <br />
    <input type="submit" value="Register" class="btn btn-default"/>
}
<hr />